@font-face {
    font-family: 'Chunk';
    src: url('../fonts/Chunk.ttf') format('truetype');
}

@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway.ttf') format('truetype');
}

:root {
    --bg: rgb(163, 1, 1);
    --white: rgb(255, 249, 239);
    --black: rgb(41, 41, 41);
    --bg-2: #EAF8F9;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0px;
}

body {
    background-color: var(--bg);
}

button {

    cursor: pointer;
}

/* debugger */
.border-w {
    outline: solid white 3px;
}

.border-b {
    outline: solid rgb(0, 0, 0) 3px;
}


.black {
    background-color: black;
}

/* reusable */

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.page {
    width: 60%;
}

button {
    color: var(--white);
    font-family: 'Times New Roman', Times, serif;
}


.wrapper:nth-of-type(odd) {
    background: url('../images/trees_pattern_01.png') no-repeat bottom, url('../images/snow_pattern.png'), url('../images/snow_pattern2.png');
    color: var(--white);
}


.wrapper:nth-of-type(even) {
    background-color: var(--bg-2);
    color: var(--black);
}

/* all the titles for the next pages styles */

/* title part */
.no-welcome .title-container h1 {
    font-family: 'Chunk';
    margin-top: 2em;
    font-size: 2.2em;
    font-weight: 600;
}

/* green divider */
.no-welcome:nth-of-type(even) .title-container p {
    background: url('../images/divider_green.png') no-repeat center;
    margin: auto;
    padding: 1em 0px;
    border-radius: 200%;
}

/* white divider */
.no-welcome:nth-of-type(odd) .title-container>p {
    background: url('../images/divider_white_s.png') no-repeat center;
    margin: auto;
    padding: 1em 0px;
    border-radius: 200%;
}

/* Sub title */
.no-welcome .title-container h4 {
    font-size: .9em;
    font-family: 'Raleway';
    font-weight: 100;
}

/* all default buttons for non welcome page */

.no-welcome button {
    width: fit-content;
    padding: .8em 1.5em;
    font-size: 1.3em;
    font-weight: 600;
    background: transparent;
    background: url('../images/buy_button_normal.png') center no-repeat;
    background-size: contain;
    margin: auto;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    /* Shadow effect */
}

/* **********************************page-1********************************** */

/* title container */
#page-1 .title-container {
    padding-top: 1em;
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    font-size: 3.5em;
    color: var(--white);
    margin-top: 2%;
    overflow: visible;
}

/* title glow efix */
#page-1 .page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/red_blink2.png') center/cover no-repeat;
    opacity: 0.9;
    z-index: -1;
    border-radius: inherit;
}

/* Merry Christmas & sale */

#page-1 .title-container h1 {
    margin: 0px auto;
    font-weight: 100;
}

#page-1 .title-container h1:first-child {
    font-family: "Pacifico", sans-serif;
    line-height: 1em;
}

#page-1 .title-container h1:last-of-type {
    font-family: "Chunk", sans-serif;
    font-size: 3.1em;
    line-height: .5em;
    margin-bottom: .2em;
}

/* divider white */
#page-1 .title-container p {
    color: transparent;
    outline: transparent;
    border: transparent;
    background: url('../images/divider_white.png');
    background-position: center;
    background-size: contain;
    width: 8em;
    height: .06em;
    border-radius: 200%;
    margin: .4em auto;
}


#page-1 .title-container h2 {
    margin: 0px auto;
    font-family: "Raleway";
    font-size: .95em;
    font-weight: 100;
}

#page-1 .title-container h2:last-of-type {
    font-size: 2em;
    font-weight: 100;
}

/* learn more button */

#page-1 .title-container button {
    background: url('../images/cta_button_normal.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    margin-top: .5em;
    font-weight: 100;
    font-size: .4em;
    color: var(--white);
    padding: .7em;
}



/* ***************************************page-2*************************************** */

#page-2.wrapper {
    height: 70vh;
}

/* Title of page 2 */
#page-2 .title-container {
    padding: 1em;
    text-align: center;
}

#page-2 .title-container h1 {
    margin-bottom: .1em;
}

/* green divider */
#page-2 .title-container p {
    width: 50%;
    margin: auto;
}

/* product container */

#page-2 .product-container {
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}


/* the products */
#page-2 .card {
    display: grid;
    grid-template-rows: 1fr .1fr .1fr;
    gap: .5em;
}

/* product head part */
#page-2 .card .head {
    background: url('../images/product_background_01.png') no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-2 .card .head:hover {
    background: none;
    transition: 0.3s;
    background: url('../images/product_background_02.png') no-repeat center;
}

#page-2 .card .head img {
    margin: auto;
    height: 85%;
    margin: 0px;
    object-fit: contain;
    cursor: pointer;
}

/* product descriptions */
#page-2 .card .desc {
    font-family: 'Raleway';
    font-size: .9em;
}

#page-2 .desc h4 {
    font-family: 'Chunk';
    font-size: 1.8em;
}

/* Buy button */


/* ************************************Page 3************************************ */

#page-3.wrapper {
    height: 120vh;
    flex-direction: column;
}

/* Upper clouds */

#page-3 header {
    height: 18vh;
    margin-top: 0px;
    width: 100%;
    background: url('../images/section_footer.png') no-repeat center top;
    background-size: cover;
}

#page-3 .page {
    flex: 1;
    margin: auto;
    display: flex;
    flex-direction: column;
}


/* title container for page 3 */
#page-3 .title-container {
    margin: 5em auto;
    margin-bottom: 2.4em;
    text-align: center;
}


#page-3 .title-container h1 {
    font-size: 2.4em;
    font-weight: 500;
}

#page-3 .title-container p {
    margin-top: .5em;
    width: 100%;
}

#page-3 .title-container h4 {
    font-weight: 100;
}

/* I frame */

#page-3 .page iframe {
    width: 40vw;
    height: 45vh;
    margin: auto;
    margin-top: .5em;
}

/* *****************************Page 4 - 6 or the product page***************************** */
#page-4 header {
    text-align: center;
}

#page-4 .product-container {
    margin: 1em auto;
    height: 50vh;
    width: 50vw;
    position: relative;
}

#page-4 .product-container .tempo img {
    object-fit: contain;
    height: 50vh;
    width: 50vw;
}

/* temporary technique */
#page-4 .product-container .tempo {
    overflow: auto;
    display: flex;
    height: 50vh;
    width: 50vw;
}

#page-4 .product-container .tempo::-webkit-scrollbar {
    display: none;
}

#page-4 footer {
    margin: auto;
    display: flex;
    width: 48vw;
}

#page-4 footer article {
    flex: 1;
}

#page-4 footer div {
    margin-left: auto;
    flex: .3;
    text-align: center;
}

#page-4 footer h3 {
    font-family: 'Raleway';
    font-size: 1.8em;
    margin: .2em;
}

#page-4 footer button {
    flex: .3;
}


/* for arrow navigation */
#page-4 .product-container svg {
    color: var(--white);
    opacity: .7;
    cursor: pointer;
    ;
}

#page-4 .product-container>svg {
    position: absolute;
    right: 0px;
    top: 50%;
    height: 2em;
    width: 2em;
    z-index: 1;
}

#page-4 .product-container>svg:first-of-type {
    left: 0;
}

#page-4 .product-container form {
    position: absolute;
    display: flex;
    gap: 1em;
    right: 50%;
    transform: translateX(100%);
    bottom: 1em;
    width: 4em;
}

#page-4  form svg {
    height: auto;
    border-radius: 100%;
    border: var(--white) solid 1px;
}

#page-4 .product-container svg:active {
    opacity: 1;
}

#page-4 form svg:active {
    background-color: white;
}