@font-face {
    font-family: 'Chunk';
    src: url('../fonts/Chunk.ttf') format('truetype');
}

@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway.ttf') format('truetype');
}


/* re usable variables */
:root {
    --bg: rgb(163, 1, 1);
    --white: rgb(255, 249, 239);
    --black: rgb(41, 41, 41);
    --bg-2: #EAF8F9;
    --green: #95D830;
    --fb: #3b5998;
    --twit: #00aced;
    --gplus: #DB4437;
    --insta: #964B00;
    --pin: #C8232C;
    --tumb: #34465D;
    --vim: #86C9EF;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0px;
}

body {
    background-image: url('../images/snow_pattern.png'), url('../images/snow_pattern2.png');
    background-color: var(--bg);
    background-attachment: fixed;
    /* This makes the background images stay fixed */
    background-size: cover;
    /* Optional: Adjusts the background size to cover the viewport */
    height: 100vh;
    overflow: auto;
}

button {

    cursor: pointer;
}

/* debugger */
.border-w {
    outline: solid white 3px;
}

.border-b {
    outline: solid rgb(0, 0, 0) 3px;
}


.black {
    background-color: black;
}

/* reusable */


/* wrapper that spand to the whole width */
.wrapper {

    height: 100vh;
    display: flex;
    justify-content: center;
}


/* the main container's widd */
.page {
    width: 1200px;
    margin: auto;
}


button {
    color: var(--white);
    font-family: 'Times New Roman', Times, serif;
}

/* all title container text centers */
.title-container {
    text-align: center;
}

/* The logical interval designs for the wrapper */

.wrapper:nth-of-type(odd) {
    background: url('../images/trees_pattern_01.png') no-repeat bottom;
    color: var(--white);
}

.wrapper:nth-of-type(even) {
    background-color: var(--bg-2);
    color: var(--black);
}

/* all the titles for the next pages styles */

/* title part */
.no-welcome .title-container h1 {
    font-family: 'Chunk';
    margin-top: 2em;
    font-size: 2.2em;
    font-weight: 600;
}

/* green divider */
.no-welcome:nth-of-type(even) .title-container p {
    background: url('../images/divider_green.png') no-repeat center;
    margin: auto;
    padding: 1em 0px;
    border-radius: 200%;
}

/* white divider */
.no-welcome:nth-of-type(odd) .title-container>p {
    background: url('../images/divider_white_s.png') no-repeat center;
    margin: auto;
    padding: 1em 0px;
    border-radius: 200%;
}

/* Sub title */
.no-welcome .title-container h4 {
    font-size: .9em;
    font-family: 'Raleway';
    font-weight: 100;
}

/* all default buttons for non welcome page */

.no-welcome button {
    width: fit-content;
    padding: .8em 1.5em;
    font-size: 1.3em;
    font-weight: 600;
    background: transparent;
    background: url('../images/buy_button_normal.png') center no-repeat;
    background-size: contain;
    margin: auto;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    /* Shadow effect */
}

/* **********************************page-1********************************** */

#page-1.wrapper{
    align-content: baseline;
    position: relative;
}

/* reindeer default */
#page-1.wrapper > img{
    position: absolute;
    bottom: 35%;
    width: 5.5em;
    transition: transform 1.5s ease-in-out; /* Smooth transition */
}


/* the reindeers that will fly away */
/* left reindeer */
#page-1.wrapper > img:first-of-type{
    left: 35%;
}

/* right reindeer */
#page-1.wrapper > img:last-of-type{
    right: 35%;
}

#page-1 .page{
    margin-top: 0px;
}

/* title container */
#page-1 .title-container {
    padding-top: 1em;
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    font-size: 3.5em;
    color: var(--white);
    overflow: visible;
}

/* title glow efix */


#page-1 .page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/red_blink2.png') center/cover no-repeat;
    opacity: 0.9;
    z-index: -1;
    border-radius: inherit;
}

/* Merry Christmas & sale */

#page-1  h1 {
    margin: 0px auto;
    font-weight: 100;
}

#page-1  h1:first-child {
    font-family: "Pacifico", sans-serif;
    line-height: 1em;
}

#page-1  h1:last-of-type {
    font-family: "Chunk", sans-serif;
    font-size: 3.1em;
    line-height: .5em;
    margin-bottom: .2em;
}

/* divider white */
#page-1  p {
    color: transparent;
    outline: transparent;
    border: transparent;
    background: url('../images/divider_white.png');
    background-position: center;
    background-size: contain;
    width: 8em;
    height: .06em;
    border-radius: 200%;
    margin: .4em auto;
}


#page-1 h2 {
    margin: 0px auto;
    font-family: "Raleway";
    font-size: .95em;
    font-weight: 100;
}

#page-1 h2:last-of-type {
    font-size: 2em;
    font-weight: 100;
}

/* learn more button */

#page-1 button {
    background: url('../images/cta_button_normal.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    margin-top: .5em;
    font-weight: 100;
    font-size: .4em;
    color: var(--white);
    padding: .7em;
}

/* icon */

#page-1 img{
    width: 1.8em;
    padding-top: .7em;
    margin: auto;
}

/* ***************************************page-2*************************************** */

#page-2.wrapper {
    height: 70vh;
}

/* Title of page 2 */
#page-2 .title-container {
    padding: 1em;
}

#page-2 .title-container h1 {
    margin-bottom: .1em;
}

/* green divider */
#page-2 .title-container p {
    width: 50%;
    margin: auto;
}

/* product container */

#page-2 .product-container {
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}


/* the products */
#page-2 .card {
    display: grid;
    grid-template-rows: 1fr .1fr .1fr;
    gap: .5em;
}

/* product head part */
#page-2 .card .head {
    background: url('../images/product_background_01.png') no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-2 .card .head:hover {
    background: none;
    transition: 0.3s;
    background: url('../images/product_background_02.png') no-repeat center;
}

#page-2 .card .head img {
    margin: auto;
    height: 85%;
    margin: 0px;
    object-fit: contain;
    cursor: pointer;
}

/* product descriptions */
#page-2 .card .desc {
    font-family: 'Raleway';
    font-size: .9em;
}

#page-2 .desc h4 {
    font-family: 'Chunk';
    font-size: 1.8em;
}

/* Buy button */


/* ************************************Page 3************************************ */

/* Select all odd .wrapper elements except the first */
.wrapper:nth-of-type(2n + 1):not(:first-of-type) {
    height: 120vh;
    flex-direction: column;
}

/* Upper clouds: Target odd headers except the first */
.wrapper:nth-of-type(2n + 1):not(:first-of-type)>header {
    height: 18vh;
    margin-top: 0px;
    width: 100%;
    background: url('../images/section_footer.png') no-repeat center top;
    background-size: cover;
}

.wrapper:nth-of-type(2n + 1):not(:first-of-type) .page {
    flex: 1;
    margin: auto;
    display: flex;
    flex-direction: column;
}


/* title container for page 3 */
#page-3 .title-container {
    margin: 2.4em auto;
    margin-top: 0px;
}


#page-3 .title-container h1 {
    margin-top: .5em;
    font-size: 2.4em;
    font-weight: 500;
}

#page-3 .title-container p {
    margin-top: .5em;
    width: 100%;
}

#page-3 .title-container h4 {
    font-weight: 100;
}

/* I frame */

#page-3 .page iframe {
    width: 85%;
    height: 58.5%;
    margin: auto;
    margin-top: .5em;
}

/* *****************************Page 4 - 6 or the product page***************************** */


/* the header part of the product containers */
.product-page header {
    text-align: center;
}

.wrapper.product-page:nth-of-type(odd) header h1 {
    margin-top: 0px;
}

/* for all white backgrounded products */
.wrapper.product-page:nth-of-type(even) {
    height: 100vh;
}

.wrapper.product-page:nth-of-type(even) .page {
    height: 100%;
}

/* The product container */
.product-page .product-container {
    margin: 1em auto;
    height: fit-content;
    width: 85%;
    position: relative;
}


/* The footer part of the product page */
.product-page footer {
    margin: auto;
    display: flex;
    width: 80%;
}

/* every red background so that the discription won't be so high */
.product-page:nth-of-type(odd) footer {
    margin-top: .5em;
    margin-bottom: auto;
}

/* article that seve as product info */
.product-page footer article {
    font-family: 'Raleway';
    flex: 1;
}

/* this serve as price and buy now button */
.product-page footer div {
    margin-left: auto;
    flex: .3;
    text-align: center;
}

.product-page footer h3 {
    font-family: 'Raleway';
    font-size: 1.8em;
    margin: .2em;
}

/* footer botton for buying flex */
.product-page footer button {
    flex: .3;
}

/* slick slider */

/* modified arrows */
.product-page button.slick-arrow:first-of-type{
    justify-content: end;
    margin-left: 2em;
    z-index: 1;
}

.product-page .product-container button{
    background: none;
    display: block;
    padding: 0px;
    box-shadow: none;
    border: none;
}


/* modifying the slick dots */
.product-page .slick-dots{
    margin-bottom: 2em;
}

.product-page .slick-dots button{
    border: var(--white) 1px solid;
    border-radius: 100%;
    color: var(--white);
}

.product-page .slick-dots .slick-active{
    border: var(--white) 1px solid;
    border-radius: 100%;
    background-color: var(--white);
}

/* For :default vertical positions and at the right  */
.product-page .product-container>svg {
    position: absolute;
    right: 0px;
    top: 50%;
    height: 2em;
    width: 2em;
    z-index: 1;
}

/* left arrow */
.product-page .product-container>svg:first-of-type {
    left: 0;
}


/* the bottom navigations for photo */
.product-page .product-container form {
    position: absolute;
    display: flex;
    gap: 1em;
    right: 50%;
    transform: translateX(100%);
    bottom: 1em;
    width: 4em;
}

/* nav item styles */
.product-page form svg {
    height: auto;
    border-radius: 100%;
    border: var(--white) solid 1px;
}

.product-page .product-container svg:active {
    opacity: 1;
}

.product-page form svg:active {
    background-color: white;
}


/* *****************REGISTER PART***************** */

/* modified height for the wrapper of registter */
#register.wrapper {
    height: 100vh;
    background: url('../images/trees_pattern_01.png') no-repeat bottom, url('../images/red_blink2.png') no-repeat center bottom;
}



#register .title-container h1 {
    font-size: 2.4em;
}


#register .title-container h4 {
    font-size: 1em;
}

/* REGISTRATION FORM */
#register form {
    margin: 5em auto;
    width: 40%;
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1.5fr;
    gap: 1em;
}

#reg-form input {
    border-radius: .5em;
    border: none;
    padding: 0 1.5em;
    font-size: 1em;
    font-family: 'Raleway';
    color: var(--black);
}


#reg-form input:focus {
    border: none;
    outline: none;
}

#reg-form button {
    background: url('../images/cta_button_normal.png') right center no-repeat;
    background-size: 100% 100%;
    /* Stretches image to fit button width and height */
    padding-left: 3.2em;
    padding-right: 3.2em;
}

/* **********************summary********************** */
#summary .page{
    margin-bottom: 0px;
}

#summary.wrapper {
    position: relative;
    height: 65vh;
}


#summary .title-container h4 {
    margin-top: 1.5em;
}

#summary .body-contents {
    margin-top: 3em;
}

/* contacts 1 which are the bigger icons with detailed contact */
#summary .contacts-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#summary .card {
    text-align: center;
    font-family: 'Raleway';
    display: grid;
    gap: 2em;
}

#summary .card img {
    margin: auto;
}

#summary .card p span:hover {
    color: var(--green);
    cursor: pointer;
}


/* Contacts 2 */

#summary .contacts-2 {
    display: flex;
    justify-content: center;
    margin-top: 4em;
    gap: 1em;
}

.contacts-2 img {
    border: var(--black) solid .15em;
    padding: .1em;
    border-radius: 100%;
}


#summary .page > footer {
    margin-top: 2em;
    text-align: center;
}


/* hover effects one by one */


#summary .contacts-2 img:hover {
    border: var(--white) solid .15em;
    background-color: var(--fb);/* fb as primary */
}
#summary .contacts-2 img:hover {
    border: var(--white) solid .15em;
}

#summary .contacts-2 img:nth-child(2):hover {
    background-color: var(--twit); /* Twitter */
}

#summary .contacts-2 img:nth-child(3):hover {
    background-color: var(--gplus); /* Google Plus */
}

#summary .contacts-2 img:nth-child(4):hover {
    background-color: var(--insta); /* Instagram */
}

#summary .contacts-2 img:nth-child(5):hover {
    background-color: var(--pin); /* Pinterest */
}

#summary .contacts-2 img:nth-child(6):hover {
    background-color: var(--tumb); /* Tumblr */
}

#summary .contacts-2 img:nth-child(7):hover {
    background-color: var(--vim); /* Vimeo */
}

/* navigation */

#side-nav{
    position: fixed;
    right: 2em;
    bottom: 50%;
    transform: translateY(50%);
}

#side-nav .nav{
    list-style-type: none;
}

#side-nav a{
    padding: 1em;
    display: inline-block;
    background: url('../images/menu_item_normal.png') no-repeat center;
}


#side-nav a:hover{
    transition: .5s;
    background: url('../images/menu_item_active.png') no-repeat center;
}

#side-nav li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
}

#side-nav li span{
    transition: .1s;
    color: var(--white);
    font-family: 'Raleway';
    font-size: .75em;
    flex: 1;
    padding: .3em 1em ;
    background-color: var(--green);
    border-radius: 1em;
    text-align: center;
}